.main-section {
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)), url("../../../assets/images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}